h1{
	margin-left: 600px 
}
h2{
	margin-left: 680px
}
body{
	background: #85b0c6
}
h1{
	color: red
}
h2{
	color: red;
}
p{
	margin-left: 350px
}
button{
	margin-left: 500px
}
ol{
	margin-left: 500px
}
button{
	color: red
}
p{
	font-style: bold;
}
button{
	background-color: yellow
}
button{
	font-size: 30px
}
img{
	margin-left: 400px
}
button{
	border-color: #ffff0000
}